@typeparam TItem
@namespace WebVella.Pulsar.Components
@inherits WvpDisplayBase
@using WebVella.Pulsar.Models
@using System.Linq
@using Microsoft.AspNetCore.Components.Web

<div class="@(String.Join(" ",_cssList))"
	  id="@Id"
	  title="@Title">
	@if (_value == null || _value.Count == 0)
	{
		@if (String.IsNullOrWhiteSpace(ValueEmptyText))
		{
			<span>&nbsp;</span>
		}
		else
		{
			<span>@ValueEmptyText</span>
		}
	}
	@if (WvpDisplayMultiSelectField != null)
	{
		foreach (var item in _value)
		{
			@WvpDisplayMultiSelectField(item)
		}
	}
	else
	{
		var values = new List<string>();
		foreach (var item in _value){
			values.Add(Newtonsoft.Json.JsonConvert.SerializeObject(item));
		}

		@String.Join(", ",values)

	}

</div>