@namespace WebVella.Pulsar.Components
@inherits WvpInputBase
@using WebVella.Pulsar.Models
@using Microsoft.AspNetCore.Components.Web
@using Newtonsoft.Json

<div class="@(String.Join(" ",_cssList))">
	<WvpInputAutocomplete Options="_options"
						  Value="@_filter"
						  OnInput="_onFilterInputHandler"
						  ValueChanged="_onValueChangeHandler"
						  MinLength="1"
						  Placeholder="@Placeholder"
						  Size="Size"></WvpInputAutocomplete>
	<div class="mt-1 wvp-field-selected-options-list">
		@foreach (var option in _value)
		{
			<a href="javascript:void(0)" @onclick="@(() => _removeValue(option))" class="btn btn-sm btn-teal mr-1 mb-1">
				<span>@option</span>
				<WvpIcon Type="WvpIconType.BsX" Class="wvp-red"></WvpIcon>
			</a>
		}
	</div>
</div>