@namespace WebVella.Pulsar.Components
@inherits WvpFieldBase
@using WebVella.Pulsar.Models
@using Microsoft.AspNetCore.Components.Web

@* Field Content here*@

@switch (Mode)
{
	@* Display *@
	@*********************************************@
	case WvpFieldMode.Display:
	case WvpFieldMode.Print:
		{
			<div class="form-control-plaintext @Class  @(Size == WvpSize.Small ? "form-control-sm" : "") @(String.IsNullOrWhiteSpace(_value) ? "form-control-plaintext--empty" : "")"
				  id="@_domElementId">
				@if (String.IsNullOrWhiteSpace(_value))
				{
					@if (String.IsNullOrWhiteSpace(ValueEmptyText))
					{
						<span>&nbsp;</span>
					}
					else
					{
						<span>@ValueEmptyText</span>
					}
				}
				else
				{
					@_value
				}
			</div>
		}
		break;

	@* Form *@
	@*********************************************@
	case WvpFieldMode.Form:
		{
			<input class="form-control @Class @(Size == WvpSize.Small ? "form-control-sm" : "") @(_validationErrors.Count > 0 ? "is-invalid" : "")"
					 id="@_domElementId"
					 name="@Name"
					 value="@_value" @oninput="(e) => _onInputChangeKeypressHandler(e)" @onkeypress="(e) => _onKeypressHandler(e)"/>
		}
		break;

	@* Design *@
	@*********************************************@
	case WvpFieldMode.InlineEdit:
		{
			@if (!_editEnabled)
			{
				<div class="input-group @Class @(Size == WvpSize.Small ? "input-group-sm" : "")">
					<div class="form-control-plaintext @(String.IsNullOrWhiteSpace(_value) ? "form-control-plaintext--empty" : "")"
						  id="@_domElementId"
						  @onclick="@(e => _toggleInlineEditClickHandler(true,false))">
						@if (String.IsNullOrWhiteSpace(_value))
						{
							@if (String.IsNullOrWhiteSpace(ValueEmptyText))
							{
								<span>&nbsp;</span>
							}
							else
							{
								<span>@ValueEmptyText</span>
							}
						}
						else
						{
							@_value
						}
					</div>
					<div class="input-group-append">
						<div class="input-group-text" @onclick="@(e => _toggleInlineEditClickHandler(true,false))">
							<WvpIcon Type="WvpIconType.BsPencil" Size="WvpSize.Small" />
						</div>
					</div>
				</div>
			}
			else
			{
				<input class="form-control @Class @(Size == WvpSize.Small ? "form-control-sm" : "")"
						 id="@_domElementId"
						 @bind-value="@_value" @bind-value:event="oninput"
						 @onkeypress="@(e => _onKeypressHandler(e))"
						 @onfocusout="@(e => _toggleInlineEditClickHandler(false,true))" />

				@*<div class="@(DropdownOptions.Count > 0 ? "dropdown":"")">
						<input class="form-control"
								 id="@domElementId"
								 @bind="@value" @bind:event="oninput"
								 @onkeyup="OnKeyUpEvent"
								 @onkeyup:stopPropagation="true"
								 @onkeyup:preventDefault="true"
								 autocomplete="off"
								 @onfocusout="@(e => ToggleInlineEdit(false,true))" />
						@if (DropdownOptions.Count > 0)
						{
							<div class="dropdown-menu show w-100"
								  @onmousedown:stopPropagation="true"
								  @onmousedown:preventDefault="true"
								  @onmouseup:stopPropagation="true"
								  @onmouseup:preventDefault="true">
								@foreach (var ddOption in DropdownOptions)
								{
									<div class="dropdown-item">@ddOption.Value</div>
								}
							</div>
						}
					</div>*@
			}
		}
		break;
}