@namespace WebVella.Pulsar.Components
@inherits WvpBase
@using WebVella.Pulsar.Models
@using Microsoft.AspNetCore.Components.Web

@if (Parent._isMenuVisible)
{
	<div id="@Id" class="@_class" @attributes="@AdditionalAttributes" @onmouseover="@(() => _hoverToggleHandler(true))" @onmouseout="@(() => _hoverToggleHandler(false))">
		@ChildContent
	</div>
}

