@namespace WebVella.Pulsar.Components
@inherits WvpFieldBase
@using WebVella.Pulsar.Models
@using Microsoft.AspNetCore.Components.Web

@* Field Content here*@

@switch (Mode)
{
    @* Display *@
    @*********************************************@
    case WvpFieldMode.Display:
    case WvpFieldMode.Print:
        {
            <div class="form-control-plaintext @Class @(Size == WvpSize.Small ? "form-control-sm" : "") @(_value == null ? "form-control-plaintext--empty" : "")"
                 id="@_domElementId">
                @_stringValue
            </div>
        }
        break;

    @* Form *@
    @*********************************************@
    case WvpFieldMode.Form:
        {
            <input class="form-control @Class @(Size == WvpSize.Small ? "form-control-sm" : "")"
                   id="@_domElementId"
                   name="@Name"
                   type="text"
                   readonly
                   value="@_stringValue"/>
        }
        break;

    @* Design *@
    @*********************************************@
    case WvpFieldMode.InlineEdit:
        {

            <input class="form-control @Class @(Size == WvpSize.Small ? "form-control-sm" : "")"
                   id="@_domElementId"
                   name="@Name"
                   type="text"
                   readonly
                   value="@_stringValue"/>

        }
        break;
}