@page "/Modal"
@using WebVella.Pulsar.Components
@using WebVella.Pulsar.Models

<h2>Modal</h2>

<button class="btn btn-primary" @onclick="@(() => _isOpen = true)">Show Modal</button>

<button class="btn btn-primary" @onclick="@(() => _isOpen2 = true)">Show Modal 2</button>

<button class="btn btn-primary" @onclick="@(() => _isOpen3 = true)">Show Modal 3</button>

<WvpModal IsOpen="_isOpen" IgnoreClickOnBackdrop="true" Size="WvpSize.ExtraLarge" IsDraggable="true">
	<WvpModalHeader OnCloseClick="@(()=>_isOpen = false)" Class="p-1">Modal Title</WvpModalHeader>
	<WvpModalBody Class="wvp-bkg-red p-1">
		<div>some body</div>
<button class="btn btn-primary" @onclick="@(() => _isOpen = true)">Show Modal</button>

<button class="btn btn-primary" @onclick="@(() => _isOpen2 = true)">Show Modal 2</button>

<button class="btn btn-primary" @onclick="@(() => _isOpen3 = true)">Show Modal 3</button>
	</WvpModalBody>
	<WvpModalFooter Class="p-1">
		<button class="btn btn-secondary" @onclick="@(() => _isOpen = false)">close</button>
	</WvpModalFooter>
</WvpModal>

<WvpModal IsOpen="_isOpen2" IgnoreClickOnBackdrop="true" Size="WvpSize.ExtraLarge" IsDraggable="true">
	<WvpModalHeader OnCloseClick="@(()=>_isOpen2 = false)" Class="p-1">Modal Title 2</WvpModalHeader>
	<WvpModalBody Class="wvp-bkg-red p-1">
		<div>some body 2</div>
<button class="btn btn-primary" @onclick="@(() => _isOpen = true)">Show Modal</button>

<button class="btn btn-primary" @onclick="@(() => _isOpen2 = true)">Show Modal 2</button>

<button class="btn btn-primary" @onclick="@(() => _isOpen3 = true)">Show Modal 3</button>
	</WvpModalBody>
	<WvpModalFooter Class="p-1">
		<button class="btn btn-secondary" @onclick="@(() => _isOpen2 = false)">close</button>
	</WvpModalFooter>
</WvpModal>

<WvpModal IsOpen="_isOpen3" IgnoreClickOnBackdrop="true" Size="WvpSize.ExtraLarge" IsDraggable="true">
	<WvpModalHeader OnCloseClick="@(()=>_isOpen3 = false)" Class="p-1">Modal Title 3</WvpModalHeader>
	<WvpModalBody Class="wvp-bkg-red p-1">
		<div>some body 3</div>
<button class="btn btn-primary" @onclick="@(() => _isOpen = true)">Show Modal</button>

<button class="btn btn-primary" @onclick="@(() => _isOpen2 = true)">Show Modal 2</button>

<button class="btn btn-primary" @onclick="@(() => _isOpen3 = true)">Show Modal 3</button>
	</WvpModalBody>
	<WvpModalFooter Class="p-1">
		<button class="btn btn-secondary" @onclick="@(() => _isOpen3 = false)">close</button>
	</WvpModalFooter>
</WvpModal>

@code{
	private bool _isOpen = false;

	private bool _isOpen2 = false;

	private bool _isOpen3 = false;

}