@namespace WebVella.Pulsar.Components
@inherits WvpDisplayBase
@using WebVella.Pulsar.Models
@using Microsoft.AspNetCore.Components.Web

<div class="@(String.Join(" ",_cssList))"
	  id="@Id"
	  title="@Title">
	@if (String.IsNullOrWhiteSpace(_value))
	{
		@if (String.IsNullOrWhiteSpace(ValueEmptyText))
		{
			<span>&nbsp;</span>
		}
		else
		{
			<span>@ValueEmptyText</span>
		}
	}
	else
	{
		@((MarkupString)_value)
	}
</div>