@typeparam TItem
@namespace WebVella.Pulsar.Components
@inherits WvpInputBase
@using WebVella.Pulsar.Models
@using Microsoft.AspNetCore.Components.Web
@using Newtonsoft.Json;

@if (Options == null || Options.ToList().Count == 0)
{
	<div class="form-control-plaintext wvp-grey p-1">No options available</div>
}
else
{
	<div class="form-control-check-list @(String.Join(", ",_cssList))">
		@foreach (var option in Options.ToList())
		{
			var radioId = "wvp-" + Guid.NewGuid();
			var radioAttr = new Dictionary<string, object>();
			if(JsonConvert.SerializeObject(_value) == JsonConvert.SerializeObject(option))
			{
				radioAttr["checked"] = "checked";
			}
				
			<div class="form-check @(!IsVertical ? "form-check-inline" : "")">
				<input class="form-check-input" type="radio" name="@_groupName" id="@radioId" @attributes="@radioAttr" @onclick="() => _onSelectHandler(option)">
				<label class="form-check-label" for="@radioId">
					@if (WvpInputRadioListOption != null)
					{
						@WvpInputRadioListOption(option)
					}
					else
					{
						@Newtonsoft.Json.JsonConvert.SerializeObject(option)
					}
				</label>
			</div>
		}
	</div>
}