

<h4 class="mt-3">Mode</h4>

<div class="row">
	<div class="col-3">
		<div class="card mb-3">
			<div class="card-header p-2">Display</div>
			<div class="card-body p-2">
				<WvpField Type="@Type" Mode="WvpFieldMode.Display" LabelText="@Label" Value="@Value"></WvpField>				
			</div>
		</div>
	</div>
	<div class="col-3">
		<div class="card mb-3">
			<div class="card-header p-2">Form</div>
			<div class="card-body p-2">
				<WvpField Type="@Type" Mode="WvpFieldMode.Form" LabelText="@Label" Value="@Value"></WvpField>				
			</div>
		</div>
	</div>
	<div class="col-3">
		<div class="card mb-3">
			<div class="card-header p-2">Inline Edit</div>
			<div class="card-body p-2">
				<WvpField Type="@Type" Mode="WvpFieldMode.InlineEdit" LabelText="@Label" Value="@Value"></WvpField>				
			</div>
		</div>
	</div>
	<div class="col-3">
		<div class="card mb-3">
			<div class="card-header p-2">Print</div>
			<div class="card-body p-2">
				<WvpField Type="@Type" Mode="WvpFieldMode.Print" LabelText="@Label" Value="@Value"></WvpField>				
			</div>
		</div>
	</div>
</div>


<h4 class="mt-3">View Options</h4>
<div class="row">
	<div class="col-3">
		<div class="card mb-3">
			<div class="card-header p-2">No Label</div>
			<div class="card-body p-2">
				<WvpField Type="@Type" Mode="WvpFieldMode.Display" LabelMode="WvpFieldLabelMode.Hidden" Value="@Value" ></WvpField>				
			</div>
		</div>
	</div>
	<div class="col-3">
		<div class="card mb-3">
			<div class="card-header p-2">With Help text</div>
			<div class="card-body p-2">
				<WvpField Type="@Type" Mode="WvpFieldMode.Display" LabelText="@Label" Value="@Value" Description="@Help"></WvpField>				
			</div>
		</div>
	</div>
	<div class="col-3">
		<div class="card mb-3">
			<div class="card-header p-2">Inline OnChange Event</div>
			<div class="card-body p-2">
				<WvpField Type="@Type" Mode="WvpFieldMode.InlineEdit" LabelText="@Label" Value="@Value" ValueChanged="OnChangeValue"></WvpField>		
			</div>
		</div>
	</div>
	<div class="col-3">
		<div class="card mb-3">
			<div class="card-header p-2">No Value Custom text</div>
			<div class="card-body p-2">
				<WvpField Type="@Type" Mode="WvpFieldMode.Display" LabelText="@Label" Placeholder="@NoValueText" Value="@Value" ></WvpField>				
			</div>
		</div>
	</div>
</div>

@code {
	[Parameter]
	public WvpFieldType Type { get; set; } = WvpFieldType.Text;

	[Parameter]
	public object Value { get; set; }

	[Parameter]
	public object Options { get; set; }

	private string Help { get; set; } = "field help text";

	private bool IsLabelVisible { get; set; } = true;

	private string Label { get; set; } = "Field Label";

	private string NoValueText { get; set; } = "not provided";

	private void OnChangeValue(ChangeEventArgs arg){
		Value = arg.Value.ToString();
		StateHasChanged();
	}

}
