@namespace WebVella.Pulsar.Components
@inherits WvpInlineBase
@using WebVella.Pulsar.Models
@using Microsoft.AspNetCore.Components.Web

@if (!_editEnabled)
{
	<div class="input-group input-group--inline-edit input-group--embed-after @(String.Join(" ",_cssList))"
		  id="@Id" @ondblclick="() => _toggleInlineEditClickHandler(true,false)">
		<WvpDisplayTextarea Value="@_value" ValueEmptyText="@ValueEmptyText" Title="@Title" Class="form-control" />
		<div class="input-group-append">
			<button type="button" class="btn btn-outline-secondary" @onclick="() => _toggleInlineEditClickHandler(true,false)">
				<WvpIcon Type="WvpIconType.BsPencil" />
			</button>
		</div>
	</div>
}
else
{
	<div class="input-group @(String.Join(" ",_cssList))" id="@Id">
		<WvpInputTextarea Id="@_inputElementId" Value="@_value" Pattern="@Pattern" Title="@Title" Placeholder="@Placeholder" OnKeyDown="_onKeyDownHandler" OnInput="_onInputHandler" />
		<div class="input-group-append">
			<button type="button" class="btn btn-outline-secondary" @onclick="@(e => _toggleInlineEditClickHandler(false,true))">
				<WvpIcon Type="WvpIconType.BsCheck2" Class="wvp-green" />
			</button>
			<button type="button" class="btn btn-outline-secondary" @onclick="@(e => _toggleInlineEditClickHandler(false,false))">
				<WvpIcon Type="WvpIconType.BsX" Class="wvp-red" />
			</button>
		</div>
	</div>
}