@namespace WebVella.Pulsar.Components
@inherits WvpFieldBase
@using WebVella.Pulsar.Models
@using Microsoft.AspNetCore.Components.Web


@* Field Content here*@

@switch (Mode)
{
    @* Display *@
    @*********************************************@
    case WvpFieldMode.Display:
    case WvpFieldMode.Print:
    @* Form *@
    @*********************************************@
    case WvpFieldMode.Form:

    @* InlineEdit *@
    @*********************************************@
    case WvpFieldMode.InlineEdit:
        {
            @if (PagingEnabled)
            {
                <div class="form-control-plaintext @Class @(Size == WvpSize.Small ? "form-control-sm" : "")"
                     id="@_domElementId">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <div class="row">
                                <label class="col-6 text-nowrap" for="pageSizeOptions">Items per page:</label>
                                <div class="col-6">
                                    <select id="pageSizeOptions" class="form-control" style="width:auto;" @oninput="(e) => _onOptionInputEvent(e)">
                                    @foreach (int size in PageSizeOptions)
                                    {
                                        var attributes = new Dictionary<string, object>();
                                        if (PageSize == size)
                                        {
                                            attributes["selected"] = "selected";
                                        }
                                        <option value="@size" @attributes="@attributes">@size</option>
                                    }
                                </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                           <span class="align-middle"> @_recordsStart - @_recordsEnd of @TotalCount</span>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-light" @onclick="@((e)=> _previousPageHandler())" disabled="@_isFirsPage">
                                <WvpIcon Type="WvpIconType.BsChevronLeft" />
                            </button>
                            <button type="button" class="btn btn-light" @onclick="@((e)=>_nextPageHandler())" disabled="@_isLastPage">
                                <WvpIcon Type="WvpIconType.BsChevronRight" />
                            </button>
                        </div>
                    </div>
                </div>
            }
        }
        break;
}
